<% layout( 'layout' ) -%>
 
<h1><%= title %></h1>
  <p>
    <span>
      <% if( todos._id == current ){ %>
      <form action="/update/<%= todos._id %>" method="post" accept-charset="utf-8">
        <input type="text" name="content" value="<%= todos.content %>" />
        <input type="text" name="time" value="<%= todos.updated_at %>" />
      </form>
      <% }else{ %>
      
        <a><%= todos.content %></a>
        <p>Answer Correct :
        <a><%= todos.ac %></a>
        </p>
        <p>Wrong Answer : 
        <a><%= todos.wa %></a>
        </p>
        <p>Time Limit Exceeded : 
        <a><%= todos.tl %></a>
        </p>

        <% if( todos.re != '0' ){ %>
            <p>RunTime Error : 
            <a><%= todos.re %></a>
            </p>
        <% } %>


        <p> </p>
        <p> </p>
        <a><%= todos.updated_at %></a>

      <% } %>
    </code>
  </p>
